/* GLOBAL */
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing:inherit;
}

*{
    outline: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family:"Inter", "Arial",sans-serif;
    background-color:#E7E7E7;
    color: #222;
}

img{
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.global-wrapper-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}


/* HERO */
.hero {
    width: 100%;
    max-width: 570px;
}

.hero-global{
    border:1px solid #fff;
    padding-left: 60px;
    border-radius:20px 20px 0 0;
    background-image: url(../img/rectangle.jpg);
    background-repeat: no-repeat;
    background-position:center left;
    background-size:content;
}

.hero-global-text{
    padding-top: 55px;
}
.hero-texts {
    display: inline-block;
    padding: 5px 15px;
    margin-top: 0;
    margin-bottom: 60px;
    border:1px solid #fff;
    border-radius: 41px;
    color: #fff;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.hero-content {
    width: 389px;
}

.hero-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    margin-top: 0;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
}

.hero-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 203px;
}

.hero-link{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 29px 145px;
    background-color: #4DC490;
    border-radius: 0px 0px 20px 20px;
    font-style: normal;
    font-size: 19px;
    font-weight: bold;
    line-height: 2.3;
    text-align: center;
}

.hero-button-text{
    font-weight: 400;
}

/* SITE-RIGHT */
.site-right{
    width: 100%;
    max-width: 570px;
    background-color: #fff;
    border-radius: 20px;
    margin-left: 12px;
}

.site-right-container{
    padding-top: 40px;
    padding-bottom: 4text
}

.site-right-heading{
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #222;
    margin-top: 10;
    margin-bottom: 80px;
}


/* FORM */
.site-input {
    border:0;
    border-bottom: 1px solid #555;
    width: 450px;
    margin-top: 0;
    margin-bottom: 35px;
    padding-bottom: 14px;
}

.site-input:hover{
    border-bottom:1px solid #000;
}

.site-input:active{
    opacity: 0.6;
}

.site-right-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 149px;
    border:none;
    margin-top: 28px;
    margin-bottom: 8px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    background-color: #655AF2;
    border-radius: 10px;
    cursor: pointer;
}

.site-right-button:hover{
    background-color: #3A2BF8;
}

.site-right-button:active{
    opacity: 0.6;
}

.site-right-text {
    font-size: 11px;
    line-height: 15px;
    color: #555;
    margin-top: 0;
}

.site-right-link{
    color: #F03535;
    text-decoration: none;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hero {
        background-image: url(../img/rectangle@2x.jpg);
    }
}